.details {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.detail {
  display: flex;
  gap: 1rem;
  flex-basis: 33%;
}

.description {
  font-size: 1.2rem;
  font-weight: 400;
}
